# =========================
# Unity generated folders
# =========================
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Bb]inary/
[Mm]emoryCaptures/
[Rr]ecordings/

# =========================
# IDE / OS junk
# =========================
.vs/
.vscode/
.idea/
.DS_Store
Thumbs.db

# =========================
# JetBrains Rider
# =========================
[Aa]ssets/Plugins/Editor/JetBrains*

# =========================
# Gradle / Android
# =========================
.gradle/
*/il2cppOutput/
*.apk
*.aab
*.unitypackage
*.app

# Firebase Android local dependency cache
Assets/ExternalDependencyManager/
Assets/Editor/m2repository/
Assets/Firebase/m2repository/
Assets/Firebase/m2repository.meta
Assets/ExternalDependencyManager/Editor/m2repository/
Assets/ExternalDependencyManager/Editor/m2repository.meta

# EDM4U generated local repo
Assets/GeneratedLocalRepo/
Assets/GeneratedLocalRepo.meta

# =========================
# Unity project files
# =========================
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# =========================
# Native Android libs (Firebase auto)
# =========================
*.aar
*.aar.meta
*.jar
*.jar.meta

# =========================
# Crash / Reports
# =========================
sysinfo.txt
crashlytics-build.properties

# =========================
# Addressables temp
# =========================
[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*
[Aa]ssets/[Ss]treamingAssets/aa.meta
[Aa]ssets/[Ss]treamingAssets/aa/*
